.section-footer {
  padding-top: 2rem;
}

.svg-container {
  position: relative;
  width: 119px; 
  height: 40px; 

  border:1px;
  border-color: brown;
}

.svg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
}

.first-svg {
  z-index: 1;
}

.second-svg {
  z-index: 2; 
  opacity: 0.8; 
}
