.buy-now-card {
    width: 394px;
    height: 472px;

    background-color: var(--text-color-dark);
    box-shadow: 8px 10px 30px rgba(175, 171, 171, 0.2), -8px 10px 30px rgba(175, 171, 171, 0.2);
}

.section-two {
    background-color: var(--text-color-dark);
    color: var(--white);
}

.make-white {
    border-color: var(--white);
    color: var(--white);
}

.section-two-button-up {
    padding-left: 80px;
}

.section-two-button-up button{
    width: 233px;
    height: 64px;
    font-size: 24px;
}

.section-two-card-button {
    width: 330px;
    height: 56px;
    font-size: 20px;
}

.section-two-card-bottom {
    margin: 32px;
}

.row.card-group {
    padding: 80px;
}
