.section-five {
    padding-bottom: 200px;
}

.section-five Button {
  width: 256px;
}

.img-container .image {
  object-fit: cover;
}

.card.img-container {
  width: 759px;
  height: 451px;
  position: relative;
}

.card.img-container:nth-child(2) {
  position: absolute;
  top: 94px;
  left: 94px;
}

.card.img-container:nth-child(3) {
  position: absolute;
  top: 150px;
  left: 150px;
}

.img-front-little{
    top: 200px;
    left: 600px;
}

.img-front-little .image{
    width: 100%; 
    height: auto;
  object-fit: cover;
}

.section-five-item {
    margin: 16px;
    padding: 16px;

    font-size: 20px;
}

.section-five-list {
    margin: 16px;
    padding: 16px;
}

.section-five-list-button button {
    width: 256px;
    height: 56px;

    font-size:20px ;
}