.why-join-section {
    background-color: var(--white);
}

.section-three .card {
    background-color: var(--white);
}

.video-container .embed {
    object-fit: cover;

    box-shadow: 8px 10px 30px rgba(175, 171, 171, 0.2), -8px 10px 30px rgba(175, 171, 171, 0.2);
}

