.section-one-h1 {
    color: var(--text-color-dark);
    font-size: 72px;
}

.section-one-a {
    color: var(--text-color-tan);
    font-size: 16px;
    padding-left: 16px;
}

.section-one-button-group {
    margin-top: 32px;
}

.section-one-p {
    margin-top: 32px;
}

.section-one-text-card {
    padding: 163px 80px;
}

.section-one-photo {
    padding-left: 80px;
}

.section-one-card {
    padding: 80px;
}

.section-one-card h2 {
    font-size: 20px;
}

.section-one-card p {
    font-size: 18px;
}
