:root {
  --primary-background-color: #fffbeb;

  --text-color-tan: #78350f;
  --text-color-dark: #0f172a;
  --text-color-grey-blue: #475569;
  --text-color-ice-blue: #e2e8f0;
 
  --white: #ffffff;
  --black: #000000;

  --red:#E11D48;
  --yellow:#FBBF24;
  --green:#22C55E;
  
  --rectangle-color:#FDE68A;

}

@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.ttf");
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background: var(--primary-background-color);

  font-family: "Roboto-Bold";
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

a{
    text-decoration: none;
}

h1 {
  font-size: 72px;
}

footer {
  background-color: var(--text-color-dark);
  color: var(--text-color-ice-blue);
}

/* caoursel */
@media (max-width: 768px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* display 3 */
@media (min-width: 768px) {
  
  .carousel-inner .carousel-item-right.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(33.333%);
  }
  
  .carousel-inner .carousel-item-left.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-33.333%);
  }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
transform: translateX(0);
}

